<%= form_for(@ticket_purchase) do |f| %>
  <% if @ticket_purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket_purchase.errors.count, "error") %> prohibited this ticket_purchase from being saved:</h2>

      <ul>
      <% @ticket_purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticket_id %><br>
    <%= f.text_field :ticket_id %>
  </div>
  <div class="field">
    <%= f.label :payment_reference_url %><br>
    <%= f.text_field :payment_reference_url %>
  </div>
  <div class="field">
    <%= f.label :buyer_email %><br>
    <%= f.text_field :buyer_email %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
