<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%=link_to("ticket bought for #{@ticket_purchase.ticket.price}" ,"/events/#{@event.id}/tickets/#{@ticket_purchase.ticket.id}" )%>
</p>

<p>
  <strong>Payment reference url:</strong>
  <%= @ticket_purchase.payment_reference_url %>
</p>

<p>
  <strong>Buyer email:</strong>
  <%= @ticket_purchase.buyer_email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket_purchase.status %>
</p>

# <%= link_to 'Edit', edit_event_ticket_ticket_purchase_path(@event,@ticket,@ticket_purchase) %> |
# <%= link_to 'Back', event_ticket_ticket_purchases_path %>

<br />

The following is a ticket for <%= @ticket_purchase.buyer_email %>

<div id="qr">

<style type="text/css">
#qr table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}

#qr td {
  border-left: solid 10px #000;
  padding: 0; 
  margin: 0; 
  width: 0px; 
  height: 10px; 
}

#qr td.black { border-color: #000; }
#qr td.white { border-color: #fff; }
</style>

<%= raw @qr.as_html %>
</div>