<% content_for :head do %>
  <%= render 'payola/transactions/stripe_header' %>
<% end %>

<div class="row">
  <div class="large-12 columns">
  <% if params[:plan] == "partner" %>
    <h1 class="text-center"> Partner Plan </h1>
    <h2 class="text-center"> $29.00 per month with .10 cents per transaction cost </h2>
    <h3 class="text-center"> plus 2.9% + 0.20 credit card processing fees </h3>
  <% end %>
  
  <% if params[:plan] == "patron" %>
    <h1 style="text-align:center"> Partner Plan </h1>
    <h2 style="text-align:center"> No monthly fees and $1.00 per transaction  </h2>
    <h3 style="text-align:center"> plus 2.9% + 0.20 credit card processing fees </h3>
  <% end %>

  <% if params[:plan] == "member" %>
    <h1 style="text-align:center"> Member Plan </h1>
    <h2 style="text-align:center"> No monthly fees and 1% per transaction  </h2>
    <h3 style="text-align:center"> plus 2.9% + 0.20 credit card processing fees </h3>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="large-5 columns large-centered">
    <div class="authform">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form',
            :class => 'payola-onestep-subscription-form',
            'data-payola-base-path' => payola_path,
            'data-payola-plan-type' => resource.plan.plan_class,
            'data-payola-plan-id' => resource.plan.id}) do |f| %>
        <h3>Sign up</h3>
        <div class="form-group">
          <%= f.label 'Subscription plan' %>
          <%= f.collection_select(:plan_id, Plan.all, :id, :name) %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: 'form-control', data: { payola: 'email' }  %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <h3> We only ask for your card to verify your identity. It will not be saved or charged. </h3>
         
    
        <%# unless resource.plan.name == "Charity" %>
        <% if resource.plan.name == "Charity"  %>
          
          <%= label_tag :charity_name, "Charity Name" %>
          <%= text_field_tag :charity_name, nil, name: nil, class: 'form-control' %>
    
          <br />
          You will have the option to connect your charity to receive payments after you have been approved.
          <br />
          <br /> 
          We ask for your credit card to begin to verify you are the rightful account holder and will not charge the card. 
        <% end %>
    <div class="form-group">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, name: nil, class: 'form-control', data: { stripe: 'number' } %>
    </div>
    <div class="form-group">
      <%= label_tag :card_code, "Card Security Code" %>
      <%= text_field_tag :card_code, nil, name: nil, class: 'form-control', data: { stripe: 'cvc' } %>
    </div>
    <br />
    <div class="form-group">
      <%= label_tag :card_month, "Card Expiry" %>
      <%= select_month nil, { use_two_digit_numbers: true}, { name: nil, data: { stripe: 'exp-month' } } %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, { name: nil, data: { stripe: 'exp-year' } } %>
    </div>
    

        <%= f.submit 'Sign up', :class => 'button right' %>
      <% end %>
    </div>
  </div>
</div>

