<p>
<h3>The following is a ticket for <%= @customer_email %></h3>
<h4>Please bring to your event <%= @event.name %></h4>
</p>
<p>
This ticket may only be used once.  
</p>

<% if @ticket_purchase and (@ticket_purchase.status == "redeemed") %>
  The following ticket has been redeemed. 
<% end %>

<% if @ticket_purchase and (@ticket_purchase.status == "purchased") %>
  Your ticket has a status of purchased and will be changed to redeemed once scanned at the event.  
<% end %>

<% if @charity and @charity.name %>
  <p>
  Your purchase of this ticket benefits <%= @charity.name %> 
  </p>
  
  <p>
  <% if @charity.description %>
    <%= @charity.description %>
  <% end %>
  </p>
  
  <p>
  <% if @charity.url %>
    <%= link_to(@charity.url, @charity.url) %>
  <% end %>
  </p>

<% end %>

<img src=<%="https://chart.googleapis.com/chart?chs=545x545&cht=qr&chl=#{@url}&choe=UTF-8"%> alt="QR code">


<p>
This email is brought to you by KarmaGrove.com and our Circle platform.  We enable you to accept credit cards and give at least 1% to your preferred charity.  All in less than 5 minutes.  Join the conscious commerce revolution at <%= link_to("https://www.karmagrove.com","https://www.karmagrove.com") %>
</p>