<small style="text-align:center;display: block;padding:10px; font-size:12px; font-family: Helvetica;">

<% if @product %>
   <%= @customer %> bought the following product from you: <br />
   <% if @product.name %> <%= @product.name %>:<%end%> <%= @product.description %> <br />
    <% if @product.require_name %>
    <p>
     The customer's name is <%= @customer_name %> 
     </p>
     <% end %>

    <% if @product.require_gender %>
    <p>
     The customer's gender is <%= @customer_gender %>
     </p>
    <% end %>

	<% if @product.special_instructions %>
    <p>
     The customer's special instuctions are <%= @special_instructions %>
     </p>
    <% end %>

<% end %>   

THE FOLLOWING IS A COPY OF WHAT WAS SENT TO 
<% if @customer and @customer.class == String %>
<%= @customer %>
<% end %>

<% if @customer_name %>
<%= @customer_name %>
<% end %>

</small>
 <%= render 'customer_receipt' %>