  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
 
  <% elsif current_user.charity_admin? %>

     <%= render "charity_admin" %>

     <% if current_user.access_code and current_user.publishable_key %>  
      <%= render "content/form" %>
    <% else %>
     <%= render partial: "activate" %>
    <% end %>

    <%= render partial: "logged_in_visitor_footer" %>

  <% else %>

     <%= render partial: "charity_info" %>

    <% if current_user.access_code and current_user.publishable_key %>  
      <%= render "content/form" %>
    <% else %>
     <%= render partial: "activate" %>
    <% end %>

    <%= render partial: "logged_in_visitor_footer" %>
  <% end %>
