

<% if user_signed_in? %>

<%= render partial: "signed_in_user" %>

<% else %>


<div class="block main">
  <div class="row">
    <div class="large-12 columns">
      <div class="header-fix">
        <%= image_tag "logo90.png" %>
        <h1 class="whitetxt"> Give to charity </h1>
        <h2 class="whitetxt"> At the point of sale   </h2>
        <a href="#" class="button secondary radius" data-reveal-id="myVideo" style="">Learn More</a>
        <%= link_to "Start now", new_user_session_path, class: "button success radius" %>
      </div>
    </div>
  </div>
</div>

<div id="myVideo" class="reveal-modal" data-reveal aria-labelledby="HeaderVideo" aria-hidden="true" role="dialog">
  <iframe src="https://player.vimeo.com/video/141232208" width="100%" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div class="block hiw">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">How it works</h1>  
      <ul class="small-block-grid-3">
        <li>
          <%= fa_icon "credit-card 5x", class: "icon-home" %>
          <p class="text-center">You accept <strong>credit</strong> <br/> or <strong>debit</strong> card<br>to make a <strong>sale</strong>.</p>
        </li>
        <li>
          <%= fa_icon "shopping-cart 5x", class: "icon-home" %>
          <p class="text-center">We <strong> hold in escrow-like account </strong> 1% <br> of your sale <strong> to give to charity</strong>.</p>
        </li>
        <li>
          <%= fa_icon "gift 5x", class: "icon-home" %>
          <p class="text-center">Every month, we <strong>donate</strong> the total <br>amount to <strong> your chosen charity</strong> and send you a receipt.</p>  
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="hpadding">
  <div class="row">
    <div class="large-8 columns large-centered">
      <h1 class="text-center"> Featured Charities </h1>
    
      <ul class="small-block-grid-3">
        <li>
          <%= link_to image_tag("elephants-and-bees-logo-web.png"), "http://elephantsandbees.com/", :target => "_blank" %>
        </li>
        <li>
          <%=  link_to image_tag("empowerment_works.png"), "http://www.empowermentworks.org", :target => "_blank" %>
        </li>
        <li>
          <%=  link_to image_tag("BioNova.png"), "http://www.bionova.org/", :target => "_blank" %>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="member hpadding">
  <div class="row">
   <div class="large-12 columns">
     <h1 class="text-center whitetxt">Become a Member </h2>
     <h4 class="text-center whitetxt">Do you do lots of transactions and want lower price per transaction?</h4>
     <br />
     <div class="middle"><%= link_to 'Sign up', new_user_registration_path(plan: 'partner'), :class => 'button radius' %></div>
   </div>
    </div>
</div>


<div class="hpadding">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">Charity Sign up</h1>
      <h4 class="text-center">Do you represent a Charity and wish to receive donations from our conscious capitalists?</h4>
      <p class="text-center">If you represent a charity you can sign up below.  We allow you to choose the minimum amount you will receive, and once a month you will get donations from verified individuals who have chosen you to receive a portion of their revenue. </p>
      <br />
      <div class="middle"><%= link_to 'Apply to Receive Donations', new_user_registration_path(plan: 'charity'), :class => 'button success radius' %></div>
    </div>
  </div>
</div> 


<div class="suscribe">
  <div class="row">
    <div class="large-6 large-centered columns">
      <div class="panel radius newsletter">
         <h5 class="subheader text-center"> Sign up for our email list 
         Get a <b> free pdf </b> on the <b>benefits of conscious capitalism.</b> </h5>
        <div id="mc_embed_signup">
           <form action="//karmagrove.us11.list-manage.com/subscribe/post?u=6b584ad9a75116e97d93ff8db&amp;id=342f096fb1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
            <div class="row collapse">
            <div class="small-8 columns">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="small-4 columns">
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_6b584ad9a75116e97d93ff8db_342f096fb1" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button secondary small postfix"></div>
            </div>
             </div>
            </div>
          </form>

        <script typ="text/javascript">
        $("#mc-embedded-subscribe").click(function(){
          window.open("https://s3.amazonaws.com/karmagrove/What_Is_Conscious_Capitalism.pdf")
        });
        </script>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
