<div class="row">
  <div class="large-6 columns large-centered">
    <br /><br />
    <h1> Available charities </h1>
      <% if current_user.charity_users.length > 0 %>
        Currently you support: <%= current_user.charity_users.first.charity.name %>
      
        <%= form_for :update_charity_user, :id => current_user.charity_users.first.id do |f| %>
          <%= collection_select(:charity_user, :charity_id, @charities, :id, :name) %>
          <div class="actions">
              <%= f.submit class: "button success radius right", value: "save charity"  %>
          </div>
        <% end %>
      
      <% else %> 
      
        <%= form_for :charity_user do |f| %>
          <%= collection_select(:charity_user, :charity_id, @charities, :id, :name ) %>
          <div class="actions">
            <%= f.submit class: "button success radius right", value: "save charity" %>
          </div>
        <% end %>
          
      <% end %>  
  </div>
</div>

 
      <div class="row well">
      <h1> Charities </h1>
        <% @charities.each do |charity| %>
        <div class="col-sm-1 span2 col-md">
          <%= charity.name %> - <%= charity.description %>
          <br />
          <%= charity.url %><br />
          <%= charity.city %> <%= charity.state %>
        </div>
        <% end %>    
      </div> 