<div class="text-center">
      <h2> Select your default charity from the available options below </h2>
      <% if current_user.charity_users.length >= 1 %>
        Currently you support: <%= current_user.charity_users.first.charity.name %>
        <div class="small-4 small-offset-4">
        <%= form_for :update_charity_user, :id => current_user.charity_users.first.id do |f| %>
          <%= collection_select(:charity_user, :charity_id, @active_charities, :id, :name, {:id => "charity_select"} ) %>
        </div>
        <!-- </div> -->
          <div class="actions">
              <%= f.submit class: "button success radius text-center", value: "save charity"  %>
          </div>
        <% end %>
      <% else %>       
      <div class="small-4 small-offset-4">
        <%= form_for :charity_user do |f| %>
          <%= collection_select(:charity_user, :charity_id, @active_charities, :id, :name) %>
          <div class="actions">
            <%= f.submit class: "button success radius text-center", value: "save charity" %>
          </div>
        <% end %>
      </div>
      <% end %> 
      

</div>



 
      <div class="row well">
      <!-- <h1> Charities </h1>
        <% @charities.each do |charity| %>
        <div class="col-sm-1 span2 col-md">
          <%= charity.name %> - <%= charity.description %>
          <br />
          <%= charity.url %><br />
          <%= charity.city %> <%= charity.state %>
        </div>
        <% end %>     -->
      </div> 
      
<!-- TODO + MAKE THIS JAVASCRIPTY 
      <script type="text/javascript">
        $("#charity_user_charity_id").change(function(){
            console.log($(this));

        })


      </script> -->