<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @charity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @charity.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @charity.url %>
</p>

<p>
  <strong>Stripe:</strong>
  <%= @charity.stripe_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @charity.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @charity.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @charity.state %>
</p>

<%= link_to 'Edit', edit_charity_path(@charity) %> |
<%= link_to 'Back', charities_path %>
