<script>
$('#datepicker').datepicker({format: 'dd/mm/yyyy'});
</script>

<%= form_for(@product, url: @product_url) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @product.user.pike13token %>

    
    <div class="field">

    <%= f.label :pike13productid, "Pike13 Connected Product" %><br>
    <%= f.select(:pike13productid, @product.get_available_pike13_products, {include_blank: true}) %>
    </div>
  
  <% end %> 
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.check_box :charity_choice, {:checked => @product.charity_choice} %> <%= f.label :charity_choice, "Customer can change the charity" %>
    
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <p> If price is left blank your users can name the price </p>
  <div class="field">
    <%= f.label :price %> <br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
  <%= f.select(:currency, Product.currencies.keys.map {|role| [role.upcase,role]}, :default => 'usd') %>
  </div>
  <div class="field">
  <%= f.label :expires_at %> <br>
  <%= f.date_field :expires_at, :id => "datepicker", :default => @product.expires_at %>
  </div>
  <div class="field">
  <%= f.label :donation_percent %> <br>
  <%= f.number_field :donation_percent %>
  </div>
  <div class="field">
  <%= image_tag(@product.avatar_url) if @product.avatar? %> <br />
      Upload a photo: <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :public %><br>
    <%= f.check_box :public %>
  </div>
  <div class="field">
    <%= f.label :require_name %><br>
    <%= f.check_box :require_name %>
  </div>
  <div class="field">
    <%= f.label :require_gender %><br>
    <%= f.check_box :require_gender %>
  </div>
  <div class="field">
    <%= f.label :display_special_instructions_box_for_buyers %><br>
    <%= f.check_box :special_instructions %>
  </div><!-- 
  <div class="field">
    <%= f.label :donation_percent %><br>
    <%= f.number_field :donation_percent %>
  </div> -->
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div><!-- 
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
