<%= form_for(@product, url: @product_url) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="field">
        <%= f.label :price %>
        <div class="row collapse prefix-radius">
          <div class="small-3 columns"><span class="prefix money_sign">$</span></div>
          <div class="small-9 columns"><%= f.number_field :price, class: "price" %></div>
        </div>
      </div>
      </div>
      <div class="large-6 columns">
        <div class="field">
          <%= f.label :donation_percent %>
          <div class="row collapse postfix-radius">
            <div class="small-9 columns"><%= f.number_field :donation_percent %></div>
            <div class="small-3 columns"><span class="postfix">%</span></div>
          </div>
        </div>
      </div>
  </div>
  <div class="field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>
  <div class="field hide">
    <%= f.label :user_id, class: "prefix" %>
    <%= f.hidden_field :user_id, value: current_user.id || @product.user_id %>
  </div>
  <div class="field">
    <div class="row collapse">
      <div class="large-3 columns">
        <%= f.label :public, "Public?" %>
      </div>
      <div class="large-9 columns">
        <div class="switch round small">
          <%= f.check_box :public %>
          <%= f.label :public %>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "button success right" %>
  </div>
<% end %>
