<br />
<div class="row">
  <div class="large-12 columns">
    <h1>My products</h1>
    <br /><br />
    <% if @products.count > 0 %>
      <ul class="no-bullet">
        <% @products.each do |product| %>
          <li>
           <div class="row">
             <div class="large-2 columns">
                <% if product.image_url.present? %>
                 <%= image_tag product.image_url, class: "product" %>
               <% end %>
             </div>
              <div class="large-7 columns">
                <h3 class="nm">
                  <%= product.name %>
                  <% if product.public %>
                    <span class="label warning">PUBLIC</span>
                  <% end %>
                </h3>
                <h6 class="subheader nm"><%= product.description %></h6>
                <br />
                <h3 class="left price_tag"><span class="pricing">$</span> <%= product.price %></h3>
                <h3 class="left percentage no-padding stylish"><%= product.donation_percent %>%</h3>
              </div>
              <div class="large-3 columns">
                <ul class="button-group even-3 radius">
                 <li>
                   <%= link_to user_product_path(:id => product['id'], :user_id=>current_user.id), class:"button secondary tiny text-center" do %>
                     <%= fa_icon "eye" %>
                   <% end %>
                 </li>
                 <li>
                   <%= link_to edit_user_product_path(:user=>current_user.id, :id=> product["id"]), class:"button secondary tiny text-center" do %> 
                     <%= fa_icon "pencil" %>
                   <% end %>
                 </li>
                  <li>
                    <%= link_to user_product_path(:id=> product["id"]), method: :delete, data: { confirm: 'Are you sure?' }, class:"button alert tiny text-center" do %>
                      <%= fa_icon "trash-o" %>
                    <% end %>
                  </li>
                 </ul>
              </div>
           </div>
          </li>
        <% end %>
      </ul>
      <br />
      <hr />
      <%= link_to 'New Product', new_user_product_path, class: "button success" %>
    <% else %>
      <h3 class="text-center">You have no products yet...</h3>
      <div class="text-center"><%= link_to 'Create your first Product', new_user_product_path, class: "button success" %></div>
    <% end %>
    </div>
</div>