<% content_for :head do %>
   <%= render 'customer_header' %>
<% end %>


<% if current_user and (current_user.id.to_i == params[:user_id].to_i) and @customer_view == false%>
<%= render :partial => 'product_owner' %>
<% end %> 


<p id="notice"><%= notice %></p>
<% if (@product.image_url && @product.image_url.length > 0) or @product.avatar? %>
  <div class="row">
 
  <div class="col-sm-8">

  <%= image_tag(@product.avatar_url) if @product.avatar? %> <br /> 
  <h1> <%= @product.name %> </h1>
  <h2> <%= @product.description %> </h2>


<h3>
  <strong>Price:
  <% if @product.currency != "usd" %>
    <%= (@product.currency) %>
  <% end %>
  </strong>
  $<%= @product.price %> 

</h3>

<% if @product.charity_choice == true %>
<%= render :partial => 'allow_charity_change' %>
<% end %>


<% if @product.require_name == true %> 
  
  First Name & Last Name:
  <input type="text" id="customer_name" name="customer_name"> </input>

<% end %> 


<% if @product.require_gender == true %> 
  
  Your gender: <br/>
  <input type="radio" required="true" id="male_gender" class="customer_gender" name="customer_gender" value="male"> <label for="male_gender">Male </label></input> <br />
  <input type="radio" required="true" id="female_gender" class="customer_gender" name="customer_gender" value="female"> <label for="female_gender">Female </label> </input>

<% end %> 

<script src="https://checkout.stripe.com/checkout.js"></script>
 <input type="hidden" hidden="true" id="product_id" value="<%= @product.id %>"></input> <br />
 <input type="hidden" hidden="true" id="amount" value="<%= @product.price %>"></input> <br />
 <input type="hidden" hidden="true" id="description" default="description of sale" value="<%= @product.description %>"></input> <br />
 <div class="large-5 large-centered columns">
 <div class="btn">
 


<div class="row" id="fee_notice">
</div>
<input type="hidden" hidden="true" length="5" id="customer_pay_fees" value="<%=@user.customer_pay_fees%>"></input> <br />
<script type="text/javascript">
    function write_cost(transaction_cost){
      var notice = 'Whatever amount you pay, the fees for processing of 2.9% plus $' + (transaction_cost/100).toFixed( 2 ) + ' per transaction will be added to the amount you see upon checkout';
      $('#fee_notice').append(notice);
    }
    var fee_rule = $('#customer_pay_fees').val() 
    if (fee_rule === "customer_pays_all_fees"){
      factor = .971;
      transaction_cost = 130;
      write_cost(transaction_cost);
    } else if (fee_rule === "customer_pays_karmagrove_fees") {
      factor = 1;
      transaction_cost = <%= @product.user.transaction_cost %>;
      write_cost(transaction_cost);
    } else if (fee_rule === "customer_pays_stripe_fees") {
      factor = .971;
      transaction_cost = 30;
      write_cost(transaction_cost);
    } else if (fee_rule === "i_pay_fees") {
      factor = 1;
      transaction_cost = 0;
    } else if (fee_rule === "") {
      factor = 1;
      transaction_cost = 0;
    };
 </script>   

<% unless @product.charity_choice == true %>
 <%= @product.user.name || @product.user.email %> donates <%= @donation_rate %>% of the sale to <%= @charity.name %>. 
 
A portion of your purchase will be given to the charity <%= @charity.url %>:
<% if @charity.url %>
<%= link_to @charity.name, @charity.url, :target => "new" %>
<% else %>
<%= @charity.name %>
<% end %> 
<% end %>
  <button id="customButton" class="btn btn-primary"><h1> Purchase Now </h1></button> <br />

</div>
  </div>
  </div>


<% else %>

</div>
<div class="large-5 large-centered columns">
  
  <h1> <%= @product.name %> </h1>
  <h2> <%= @product.description %> </h2>
  

<h3>
  
  <% unless @product.price == nil %>
  <strong>Price:
  <% if @product.currency != "usd" %>
    <%= (@product.currency) %>
  <% end %>
  </strong>
  $<%= @product.price %>
  <input type="hidden" hidden="true" id="amount" value="<%= @product.price %>"></input> <br />

  <% else %> 
  <strong> Name the price. </strong>
  <input type="text" id="amount" name="amount" value="name your price"> </input>
  <script type="text/javascript">
  $('document').ready(function(){
    $('#amount').click(function(){
      $(this).val('');
    })
  })
  </script>
  <% end %>

  <script type="text/javascript">
  function write_new_cost(){ 

    if($('#match_donation').prop('checked') === true){
        var amount = $('#amount').val();
        var donation_rate = <%= @donation_rate %>;
        var new_amount = amount*(1+(donation_rate/100));
        new_amount = parseFloat(Math.round(new_amount * 100) / 100).toFixed(2);
        var additional_amount = parseFloat(Math.round((new_amount - amount) * 100) / 100).toFixed(2);
        // parseFloat(Math.round(num3 * 100) / 100).toFixed(2);
        $('#match_donation_notice').text('You will be charged an additional $' + String(additional_amount) + " for a total of $" + String(new_amount));
      } else {
        $('#match_donation_notice').text('');
      };

  }

  $('document').ready(function(){


    $("#amount").change(function(){
      write_new_cost();
    });

    $('#match_donation').click(function(){
      write_new_cost();
    });

  })
  </script>

  <% if @product.charity_choice == true %>
  <%= render :partial => 'allow_charity_change' %>

  <% end %>
  

  <% if @product.user.allow_customer_match_donation == true %>
     <input type="checkbox" id="match_donation" required="true" class="match_donation" name="match_donation"> 
     <label for="match_donation"><h4>Would you like to match the donation by paying <%= @donation_rate %>% more? </h4></label></input> <br />
     <div id="match_donation_notice">
     </div>
  <% end %>
</h3>

<% if @product.require_name == true %> 
  
  First Name & Last Name:
  <input type="text" id="customer_name" name="customer_name"> </input>

<% end %> 

<div class="modal">
<!-- Show the new stuff -->
</div>

<% if @product.require_gender == true %> 
  
  Your gender: <br/>
  <input type="radio" required="true" id="male_gender" class="customer_gender" name="customer_gender" value="male"> <label for="male_gender">Male </label></input> <br />
  <input type="radio" required="true" id="female_gender" class="customer_gender" name="customer_gender" value="female"> <label for="female_gender">Female </label> </input>

<% end %> 

<% if @product.special_instructions == true %> 
<br/>
Your notes for the seller: <br/>
  <input type="text" id="special_instructions" required="true" class="customer_special_instructions" name="customer_special_instructions" side="10" default-value="provide any instuctions here"> </input>

<% end %> 

<div class="row" id="fee_notice">
</div>
<input type="hidden" hidden="true" length="5" id="customer_pay_fees" value="<%=@product.user.customer_pay_fees%>"></input> <br />
<script type="text/javascript">
    function write_cost(transaction_cost){
      var notice = 'Whatever amount you pay, the fees for processing of 2.9% plus $' + (transaction_cost/100).toFixed( 2 ) + ' per transaction will be added to the amount you see upon checkout';
      $('#fee_notice').append(notice);
    }
    var factor, transaction_cost, fee_rule;
    
    transaction_cost = <%= @product.user.transaction_cost %>;
    fee_rule = $('#customer_pay_fees').val(); 

    if (fee_rule === "customer_pays_all_fees"){
      factor = .971;
      transaction_cost += 30;
      write_cost(transaction_cost);
    } else if (fee_rule === "customer_pays_karmagrove_fees") {
      factor = 1;
      write_cost(transaction_cost);
    } else if (fee_rule === "customer_pays_stripe_fees") {
      factor = .971;
      transaction_cost = 30;
      write_cost(transaction_cost);
    } else if (fee_rule === "i_pay_fees") {
      factor = 1;
      transaction_cost = 0;
    } else if (fee_rule === "") {
      factor = 1;
      transaction_cost = 0;
    };
 </script>   


<script src="https://checkout.stripe.com/checkout.js"></script>
 <input type="hidden" hidden="true" id="product_id" value="<%= @product.id %>"></input> 
 <input type="hidden" hidden="true" id="description" default="description of sale" value="<%= @product.description %>"></input> 

 <p>

 <%= @product.user.name || 
 @product.user.email %> donates 
 <%= @donation_rate %>% of the sale to 
 <%= @charity.name %>. 
 
A portion of your purchase will be given to the charity:
<% if @charity.url %>
<%= link_to @charity.name, @charity.url, :target => "new" %>
<% else %>
<%= @charity.name %>
<% end %> 

 </p>

 <div class="btn">
 
  <button id="customButton" class="btn btn-primary"><h1> Purchase Now </h1></button> <br />

</div>


<% end %>
<!-- <button id="customButton">Send invoice</button> -->

<div class="large-5 large-centered columns">
    <div class="left">
       <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.karmagrove.com' target='_blank' rel='nofollow'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
   </div>
</div>




<script>
  function calculateAmount(){
    var factor, transaction_cost, fee_rule;
    
    transaction_cost = <%= @product.user.transaction_cost %>;
    fee_rule = $('#customer_pay_fees').val(); 

    if (fee_rule === "customer_pays_all_fees"){
      factor = .971;
      transaction_cost += 30;
    } else if (fee_rule === "customer_pays_karmagrove_fees") {
      factor = 1;
      //transaction_cost = <%= @product.user.transaction_cost %>;

    } else if (fee_rule === "customer_pays_stripe_fees") {
      factor = .971;
      transaction_cost = 30;

    } else if (fee_rule === "") {
      factor = 1;
      transaction_cost = 0;

    } else if (fee_rule === "i_pay_fees") {
      factor = 1;
      transaction_cost = 0;
    };
     //do something
     var value = $('#amount').val();
     // return false if value === "";
     if (value === "" || value === undefined) {
       return 0;
     } else {
       <% if @product.user.allow_customer_match_donation == true %> 
       // transaction_cost += (amount * (1 + (<%= @product.user.donation_rate.to_i %>/100)));
       if ($('#match_donation').prop('checked') === true){
         var additional_donation = (value*100 * (1 + (<%=@donation_rate%>/100))) - value*100;
         return parseInt((value*100 + transaction_cost + additional_donation) / factor);  
       } else {
         return parseInt((value*100 + transaction_cost) / factor);
       }
       <% else %>
       return parseInt((value*100 + transaction_cost) / factor);
       <% end %>
     };

     
 };


  var handler = StripeCheckout.configure({
    key: '<%=ENV['STRIPE_PUBLISHABLE_KEY']%>',
    image: '/assets/karma_circle.png',
    token: function(token) {
      $.ajax({
           type: "POST",
           url: "/purchases",
           format: "json",
           data: {"stripeToken":token.id,
           <% if @product.charity_choice == true %>
           charity_id: $('#charity_id_charity_id').val(),
           <% end %>
           <% if @product.charity %>
           charity_id: <%= @product.charity %> 
           <% end %>
           "stripeEmail": token.email,
           format: "json",
           amount: calculateAmount(),
           <% if @product.user.allow_customer_match_donation == true %>
           matchDonation: $('#match_donation').prop('checked'), 
           <% end %>
           description: $('#description').val(),
           user_id: <%= params[:user_id] %>,
           product_id: $('#product_id').val()
           <% if @product.require_name == true %> 
           , customer_name: $('#customer_name').val()
           <% end %>

           <% if @product.require_gender == true %> 
           , customer_gender: $('.customer_gender:checked').val()
           <% end %>

          <% if @product.special_instructions == true %> 
           , special_instructions: $('#special_instructions').val()
           <% end %>

           
         },
           success:function(resp){
            window.location.replace("/")

           },
            error: function(resp){
                alert("An error has occurred.  Please try again and check your card number.");
                 //alert(resp.responseText.status_message);
                 //window.location.replace("/")
               }
        });
  //    token.id can be used to create a charge or customer.
    // token.email contains the email address entered by the user. 
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options
     <% if @product.require_name == true %> 
       if($('#customer_name').val() < 1){
         alert('You must supply a name before purchasing');
         return false;
       }
     <% end %>

    <% if @product.require_gender == true %> 
       if($('.customer_gender:checked').val() == undefined ){
         alert('You must supply a gender before purchasing');
         return false;
       }
     <% end %>




     // amount: $('#amount').val()*100


    handler.open({
      description: $('#description').val(),
      amount: calculateAmount()
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>
