<% content_for :head do %>
   <%= render 'customer_header' %>
<% end %>

<p id="notice"><%= notice %></p>
<% if (@product.image_url && @product.image_url.length > 0) %>
  <div class="row">
  <div class="col-sm-4">

  <%= image_tag(@product.image_url) %>
  </div>
  


  <div class="col-sm-8">


  <h1> <%= @product.name %> </h1>
  <h2> <%= @product.description %> </h2>


<h3>
  <strong>Price:</strong>
  $<%= @product.price %>
</h3>

<script src="https://checkout.stripe.com/checkout.js"></script>
 <input type="hidden" hidden="true" id="product_id" value="<%= @product.id %>"></input> <br />
 <input type="hidden" hidden="true" id="amount" value="<%= @product.price %>"></input> <br />
 <input type="hidden" hidden="true" id="description" default="description of sale" value="<%= @product.description %>"></input> <br />
 <div class="large-5 large-centered columns">
 <div class="btn">
 
 
  <button id="customButton" class="btn btn-primary"><h1> Purchase Now </h1></button> <br />

</div>
  </div>
  </div>

<% else %>

<div class="large-5 large-centered columns">
  <h1> <%= @product.name %> </h1>
  <h2> <%= @product.description %> </h2>
  

<h3>
  <strong>Price:</strong>
  $<%= @product.price %>
</h3>

<script src="https://checkout.stripe.com/checkout.js"></script>
 <input type="hidden" hidden="true" id="product_id" value="<%= @product.id %>"></input> <br />
 <input type="hidden" hidden="true" id="amount" value="<%= @product.price %>"></input> <br />
 <input type="hidden" hidden="true" id="description" default="description of sale" value="<%= @product.description %>"></input> <br />

 

 
 <div class="btn">
 
 
  <button id="customButton" class="btn btn-primary"><h1> Purchase Now </h1></button> <br />

</div>


<% end %>
<!-- <button id="customButton">Send invoice</button> -->


<script>

  var handler = StripeCheckout.configure({
    key: '<%=ENV['STRIPE_PUBLISHABLE_KEY']%>',
    image: '/assets/karma-circle.png',
    token: function(token) {
      console.log(token.id)
      $.ajax({
           type: "POST",
           url: "/purchases",
           format: "json",
           data: {"stripeToken":token.id,
           "stripeEmail": token.email,
           format: "json",
           amount: $('#amount').val()*100,
           description: $('#description').val(),
           user_id: <%= params[:user_id] %>,
           product_id: $('#product_id').val()
           
         },
           success:function(resp){
            window.location.replace("/")
            console.log(resp)

           },
            error: function(resp){
                console.log("fail!");
                 console.log(resp);
                 console.log(resp.responseText);
                 alert(resp.responseText.status_message);
                 //window.location.replace("/")
               }
        });
  //    token.id can be used to create a charge or customer.
    // token.email contains the email address entered by the user. 
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      description: $('#description').val(),
      amount: $('#amount').val()*100
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>





<% if current_user and (current_user.id == params[:user_id]) %>
<p>
  <strong>Public:</strong>
  <%= @product.public %>
</p>

<p>
  <strong>Donation percent:</strong>
  <%= @product.donation_percent %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>

<%= link_to 'Edit', edit_user_product_path(:user_id =>current_user.id, :product=> @product) %> |
<%= link_to 'Back', user_products_path(:user_id =>current_user.id) %>
<% end %>
<div class="large-5 large-centered columns">
    <div class="left">
 <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.karmagrove.com' target='_blank' rel='nofollow'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
 </div>
 </div>
