
<div class="row">
<h2 style="text-align: center"> Members of Karma Grove Community </h2>
</div>

<% @users.each do |user| %>

<% if (user.public_profile == true || ((user.community_profile == true) && (current_user))) %>

<div class="large-6 columns">

<% if user.avatar? %>
<div class="large-6 columns">
<%= image_tag(user.avatar_url,:style => "position: relative; top: 0px; right: 0px;") if user.avatar? %> 
<br />
</div>
<div class="large-6 columns">
<% else %>
<div class="large-12 columns">
<h2 style="overflow-wrap:true"> <%= user.name %> <%= user.email %></h2>
    <%= user.website %>
    <% if current_user and current_user.id == user.id %>
<h3> <%=link_to "Edit your information", "/users/edit" %> </h3>
<h4> Connect facebook to import image </h4>

<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div> <br />
<div class="fb-login-button" data-max-rows="2" data-size="medium" data-show-faces="true" data-auto-logout-link="false"></div>

<div id="fb-root"></div>
<% if Rails.env == "production" %>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=138888819542941";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% else %>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=815330468585964";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
<% end %>

  window.fbAsyncInit = function() {
    FB.init({
      appId      : <%=ENV['APP_ID']%>,
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '<%=ENV['APP_ID']%>',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>
</h4>
<% end %>    

    <div>
        <% if user.business_name  %>  
        	<%= link_to "View Profile of #{user.business_name}", "http://www.karmagrove.com/" + user.business_name %>

        <% else %>
           <!-- User has not claimed a business name and profile. -->
        	

        <% end %>
    </div>
    
    <div>
        <%= if user.website        then  "website: #{user.website}"        end %>       
    </div>
    
    <div>
        <%= if user.donation_rate  then  "Donation rate: #{user.donation_rate}% of current sales."  end %>
    </div>

    <div>
        <%= if user.charity_users.length >0 then "charity: #{user.charity_users.last.charity.name}" end %>
    </div>
</div>
</div>
</div>    
</div>    

<% end %>
<% end %>
<% end %> 


<div class="row">
<div class="large-12 columns">
<h3>  Interested in Joining?  </h3>
<h4> <a href="mailto:joshua@karmagrove.com?subject=I want to join karma grove community"> Send us a message </a> </h4>

<h3> Already a member and want information to show differently? </h3>
<h4> <%= link_to("login","/users/sign_in") %></h4>
</div>
</div>