
<div class="row">
<h2 style="text-align: center"> Members of Karma Grove Community </h2>
</div>

<% @users.each do |user| %>

<% if (user.public_profile == true || ((user.community_profile == true) && (current_user))) %>

<div class="large-6 columns">
  <% if user.avatar? %>
    <div class="large-6 columns">
     <%= image_tag(user.avatar_url,:style => "position: relative; top: 0px; right: 0px;") if user.avatar? %> 
     <br />
    </div>
    <div class="large-6 columns">
  <% else %>
    <div class="large-12 columns">
  <% end %> <!-- if user.avatar -->
  
      <h2 style="overflow-wrap:true"> <%= user.name %> <%= user.email %></h2>
        <%= user.website %>
        <% if current_user and current_user.id == user.id %>
        <% end %>    
        <div>
            <% if user.business_name  %>  
            	<%= link_to "View Profile of #{user.business_name}", "http://www.karmagrove.com/" + user.business_name %>
    
            <% else %>
               <!-- User has not claimed a business name and profile. -->
            	
    
            <% end %>
        </div>
        
        <div>
            <%= if user.website        then  "website: #{user.website}"        end %>       
        </div>
        
        <div>
            <%= if user.donation_rate  then  "Donation rate: #{user.donation_rate}% of current sales."  end %>
        </div>
    
        <div>
            <%= if user.charity_users.length >0 then "charity: #{user.charity_users.last.charity.name}" end %>
        </div>
       </div>   <!-- 12 columns large or 6 columns -->
</div>
  <% end %> <!-- if user.public_profile --> 
<% end %> <!-- users.each --> 
