
<div class="row">
<h2 style="text-align: center"> Members of Karma Grove Community </h2>
<h3 style="text-align: center"> Pracitioners of Conscious Commerce  </h3>
</div>
<style ="text/css">    
    img.main {
    float: left;
    margin: 0 20px 20px 0;
}

p.description {
    text-align: justify;
    text-indent: 2em;
}
</style>
<% @users.each do |user| %>

<% if (user.public_profile == true || ((user.community_profile == true) && (current_user))) %>

<div class="large-6 columns">
  <% if user.avatar? %>
    
     <%= image_tag(user.avatar.profile, :class => "main") if user.avatar? %> 
     <br />
  <% end %> <!-- if user.avatar -->
   <p class="description"> 
      <h2 style="overflow-wrap:true; word-wrap: break-word;"> <%= user.name %> <%= user.email %></h2>
        <%= user.website %>
        <% if current_user and current_user.id == user.id %>
        <% end %>    
        <div>
            <% if user.business_name  %>  
            	<%= link_to "View Profile of #{user.business_name}", "http://www.karmagrove.com/" + user.business_name %>
            <% else %>
               <!-- User has not claimed a business name and profile. -->
            <% end %>
        </div>
        
        <div>
            <% if user.website   %>
                 Website: <%= link_to user.website, user.website %>      
            <%  end %>       
        </div>
        
        <div>
            <%= if user.donation_rate  then  "Donation rate: #{user.donation_rate}% of current sales."  end %>
        </div>
    
        <div>
            <%= if user.charity_users.length >0 then "charity: #{user.charity_users.last.charity.name}" end %>
        </div>
    </p>
       <!-- </div>   12 columns large or 6 columns -->
</div>
  <% end %> <!-- if user.public_profile --> 
<% end %> <!-- users.each --> 
