<h1> Your customers </h1>
<% @customers.each do |c| %>

<%= c.email %> <br />

<% end %>

<h1> Your charges </h1>
<div class="row">  

     <div class="small-2 columns">
    <h3> Date </h3>
    </div>
	  <div class="small-2 columns">
    <h3> Amount </h3>
    </div>
    <div class="small-3 columns">
    <h3> Customer email </h3>
    </div>
    <div class="small-3 columns" >
    <h3> Description </h3>
    </div>
    <div class="small-2 columns">
    <h3> Donation Status </h3>
    </div>
</div>
  <% @charges.each do |c| %>
  

  <div class="row">
    <div class="small-2 columns">
    <%= Time.at(c.created).strftime("%Y-%m-%d") %> 
    </div>
    <div class="small-2 columns">
    $<%= (c.amount / 100) %> <br />
    </div>
    <div class="small-3 columns">
    <%= c.source.name %> <br />
    </div>
    <div class="small-3 columns">
    <%= c.description %> <br />
    </div>
    <div class="small-2 columns">
    <% if @d = DonationCharge.find_by_payment_reference(c.id) %> 
      $<%= @d.donation_amount/100.to_f %> 
      <% if @d.charity %> 
         <%= @d.charity.name %> 
      <% end %>
      <span class="donation-charge-status">
        (<%= @d.status %>) 
      </span>
    <% end %>  
    <br />
    </div>
  </div>
  <% end %> 
<div class="row">
  <div class="small-12 columns">
  <h4>
  Unpaid Explanation
  </h4>

  <p>
  Expected to be paid on the 1st of the coming month
  </p>
  <p>
  If you wish to change which charity you are giving to before they are paid, please <a href="mailto:joshua@karmagrove.com?subject=change%20charity%20request">contact us 
  </a>
  </div>
</div>

