Total Donations: $<%= '%.2f' % (@total_donations/100.0) %> <br />
Total Pledged Donations: $<%= '%.2f' % (@total_pledged_donations/100.0) %> 

<h1> Your customers </h1>
<% @customers.each do |c| %>

<%= c.email %> <br />

<% end %>
<!-- 
<% if @balance %>

<h1 class="balance"> <%= @balance.methods.sort %> </h1>

<% end %>  -->


<h1 class="transfers"> 
Bank Transfers
</h1>

<div class="row">  

     <div class="small-2 columns">
    <h3> Date </h3>
    </div>
    <div class="small-2 columns">
    <h3> Amount </h3>
    </div>
</div>

<% @transfers.each do |transfer| %>

<div class="row">  
  <div class="small-2 columns">
  <%= Time.at(transfer.created).strftime("%Y-%m-%d") %> 
  </div>
  <div class="small-2 columns">
  $<%= transfer.amount / 100%> 
  <br />
  </div>
</div>



<% end %> 



<h1> Your charges </h1>
<div class="row wide">
    <div class="small-1 columns head-charge" style="text-align:left">
    <h3> Date </h3>
    </div>
     <div class="small-3 columns head-charge" style="text-align:left">
    <h3> Customer email </h3>
    </div>
    <div class="small-2 columns head-charge" style="text-align:left" >
    <h3> Description </h3>
    </div>
	  <div class="small-2 columns head-charge" style="text-align:left">
    <h3> Donation Status </h3>
    </div>
    <div class="small-4 columns head-charge" style="text-align:center">
    <h3> Amounts Paid </h3>
    </div>
</div>
<div class="row wide">
    <div class="small-1 columns head-charge" style="text-align:left">
     <br />
    </div>
     <div class="small-3 columns head-charge" style="text-align:left">
    <br />
    </div>
    <div class="small-2 columns head-charge" style="text-align:left" >
    <br />
    </div>
    <div class="small-2 columns head-charge" style="text-align:left">
    <br />
    </div>
    <div class="small-1 columns" style="text-align:left">
    <h3 title="In your bank account"> Your$ </h3>
    </div>
    <div class="small-1 columns" style="text-align:left">
    <h3 title="Customer paid this amount"> Total </h3>
    </div>
    <div class="small-1 columns" style="text-align:left">
    <h3 title="Karma Grove fees - 1/2 of these will match your charity "> Us </h3>
    </div>
    <div class="small-1 columns" style="text-align:left">
     <h3 title="Stripe makes all the money!  Give more to charity! "> Stripe </h3> 
    
    </div>

</div>

  <% @charges.each do |c| %>
  

  <div class="row wide">
    <div class="small-1 columns">
    <%= Time.at(c.created).strftime("%Y-%m-%d") %> 
    </div>
    <div class="small-3 columns" style="text-align:left;overflow:scroll">
    <%= c.source.name %> <br />
    </div>
    <div class="small-2 columns">
    <%= c.description %> <br />
    </div>
    <div class="small-2 columns">
    <% @donation_amount=0 %>
    <% if @d = DonationCharge.find_by_payment_reference(c.id) %> 
      $<%= ((@d.donation_amount + @application_fee/2)/100.00).round(2) %> 
      <% @donation_amount = ((@d.donation_amount)/100.00).round(2) %>
      <% if @d.charity %> 
         <%= @d.charity.name %> 
      <% end %>
      <span class="donation-charge-status">
        (<%= @d.status %>) 
      </span>
    <% end %>  
    <br />
    </div>

    <div class="small-1 columns">
    <% @temp_application_fee = false %>
    <% 
    if ((((c.amount / 100.00).round(2) - (@application_fee/100.00).round(2) - (((c.amount / 100.00) * (2.9/100.00)) + 0.30).round(2)) - @donation_amount ) > 0)  
    %>
      $<%= (((c.amount / 100.00).round(2) - (@application_fee/100.00).round(2) - (((c.amount / 100.00) * (2.9/100.00)) + 0.30).round(2)) - @donation_amount ).round(2)
      %>
      <% else %>
       <% @temp_application_fee = true %>
       $<%=  0.01 %>

    <% end   %> 
    </div>

    <div class="small-1 columns">
    $<%= (c.amount / 100.00).round(2) %> 
    </div>

    <div class="small-1 columns">
     <% if @temp_application_fee %>
     $<%= ((((c.amount / 100.00).round(2) - (((c.amount / 100.00) * (2.9/100.00)) + 0.30).round(2)) - @donation_amount )/2).round(2) %>
     <% else %>
     $<%= (@application_fee/200.000).round(2) %>
     <% end %>
    </div>
    <div class="small-1 columns">
     $<%= (((c.amount / 100.00) * (2.9/100.00)) + 0.30).round(2) %>
    </div>
     
  </div>
  <% end %> 
<div class="row wide">
  <div class="small-12 columns">
  <h4>
  Unpaid Explanation
  </h4>
  <p>
  Expected to be paid on the 1st of the coming month.  Charity payments are paid when 5.00 is reached. Amounts paid to your bank accounts (Your$) within 2 to 5 days.
  </p>
  <p>
  If you wish to change which charity you are giving to before they are paid, please <a href="mailto:joshua@karmagrove.com?subject=change%20charity%20request">contact us 
  </a>
  </div>
</div>

<style type="text/css">
.wide {max-width: 100%;};
</style>