Total Donations: $<%= '%.2f' % (@total_donations/100.0) %> <br />
Total Pledged Donations: $<%= '%.2f' % (@total_pledged_donations/100.0) %> 

<h1> Your customers </h1>
<% @customers.each do |c| %>

<%= c.email %> <br />

<% end %>
<!-- 
<% if @balance %>

<h1 class="balance"> <%= @balance.methods.sort %> </h1>

<% end %>  -->


<h1 class="transfers"> 
Bank Transfers
</h1>

<div class="row">  

     <div class="small-2 columns">
    <h3> Date </h3>
    </div>
    <div class="small-2 columns">
    <h3> Amount </h3>
    </div>
</div>

<% @transfers.each do |transfer| %>

<div class="row">  
  <div class="small-2 columns">
  <%= Time.at(transfer.created).strftime("%Y-%m-%d") %> 
  </div>
  <div class="small-2 columns">
  $<%= transfer.amount / 100%> 
  <br />
  </div>
</div>



<% end %> 



<h1> Your charges </h1>
<div class="row">
    <div class="small-1 columns head-charge" style="text-align:center">
    <h3> Date </h3>
    </div>
     <div class="small-3 columns head-charge" style="text-align:left">
    <h3> Customer email </h3>
    </div>
    <div class="small-2 columns head-charge" style="text-align:center" >
    <h3> Description </h3>
    </div>
	  <div class="small-2 columns head-charge" style="text-align:left">
    <h3> Amount </h3>
    </div>
    <div class="small-2 columns head-charge" style="text-align:center">
    <h3> Donation Status </h3>
    </div>
    <div class="small-1 columns head-charge" style="text-align:left">
    <h3> Karma Grove Fee </h3>
    </div>
    <div class="small-1 columns head-charge" style="text-align:center">
    <h3> Stripe Fee </h3> 
      
    </div>
</div>

  <% @charges.each do |c| %>
  

  <div class="row">
    <div class="small-1 columns">
    <%= Time.at(c.created).strftime("%Y-%m-%d") %> 
    </div>
    <div class="small-3 columns" style="text-align:left;overflow:scroll">
    <%= c.source.name %> <br />
    </div>
    <div class="small-2 columns">
    <%= c.description %> <br />
    </div>
    <div class="small-2 columns">
    $<%= (c.amount / 100.00).round(2) %> <br />
    </div>
    <div class="small-2 columns">
    <% if @d = DonationCharge.find_by_payment_reference(c.id) %> 
      $<%= (@d.donation_amount/100.00).round(2) %> 
      <% if @d.charity %> 
         <%= @d.charity.name %> 
      <% end %>
      <span class="donation-charge-status">
        (<%= @d.status %>) 
      </span>
    <% end %>  
    <br />
    </div>
    <div class="small-1 columns">
    <% if @d = DonationCharge.find_by_payment_reference(c.id) %> 
     <%= @charge_fees[c.application_fee] - @d.donation_amount %>
    <% end %>
    </div>
    <div class="small-1 columns">
     $<%= (((c.amount / 100.00) * (2.9/100.00)) + 0.30).round(2) %>
    </div>
     
  </div>
  <% end %> 
<div class="row">
  <div class="small-12 columns">
  <h4>
  Unpaid Explanation
  </h4>

  <p>
  Expected to be paid on the 1st of the coming month
  </p>
  <p>
  If you wish to change which charity you are giving to before they are paid, please <a href="mailto:joshua@karmagrove.com?subject=change%20charity%20request">contact us 
  </a>
  </div>
</div>

