<%# add navigation links to this file %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Edit Charities', "/charities" %></li>
    <li><%= link_to 'View Donations', "/donations" %></li>
    <li><%= link_to 'Income', "/income" %></li>
  <% elsif current_user.try(:charity_admin?) %>
    <% if current_user.charity.length>0  %>
    <li><%= link_to 'Charity Profile', "/charities/#{current_user.charity.id}" %></li>
    <li><%= link_to 'Invite a friend', "/users/invitation/new" %></li>
    <% else %>
    <li><%= link_to 'Create Charity Profile', "/charities/new" %></li>
    <li><%= link_to 'Invite a friend', "/users/invitation/new" %></li>
    <% end %>
  <% else current_user.id %>
    <li><%= link_to 'My Charities', user_charity_users_path({ user_id: current_user.id }) %></li>
    <li><%= link_to 'My Products', user_products_path({ user_id: current_user.id }) %></li> 
    <li><%= link_to 'My Sales', "/charges" %></li>
    <li><%= link_to 'Invite a friend', "/users/invitation/new" %></li>
    <% if current_user.events_allowed == true  %> 
      <li><%= link_to 'My Events', "/events" %></li> 
    <% end %>
<% end %>

  <% else %>
  <li><%= link_to 'About', "/about" %></li>
  <li><%= link_to 'Explore for free', new_user_registration_path(:plan => "patron"), data: { no_turbolink: true, :plan => "patron" } %></li>
<% end %>


<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
