<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Karma Circle Membership" %>">
    <title><%= content_for?(:title) ? yield(:title) : "Karma Circle Membership" %></title>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,400italic,300italic|Slabo+27px' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     // fbq('init', '1445177958945254'); 
     // fbq('track', 'PageView');
    <!-- Facebook Pixel Code -->

    fbq('init', '184001472356218');
    fbq('track', 'PageView');
   </script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=184001472356218&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
  

    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=1445177958945254&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-ND3QNMF');</script>
    <!-- End Google Tag Manager -->
		<%= yield(:head) %>
  </head>

  <body>
      <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ND3QNMF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= render 'layouts/navigation' %>
    <main role="main" class="main-content">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
    
    <% unless request.path_info.include?('products') %>
    
    <%= render 'layouts/footer' %>
    
    <% end %>
		
  </body>
</html>